		


<div style="width:100%; height:60px">

	<div class="info pull-left">Page {{pageNumber}} of {{maxPageNumber()}} :: {{channels.total}} channels</div>

	<div id="sort-by" class="pull-right">
		<ul>
			
			<!-- Videos/Search -->
			<li><a ng-click="sortBy('most_liked')">Most Liked</a></li>
			<li><a ng-click="sortBy('most_played')">Most Played</a></li>
			<li><a ng-click="sortBy('alphabetical')">Alphabetical</a></li>
			
			<!-- Channels -->
			<!-- Common -->
			<li><a ng-click="sortBy('oldest')">Oldest</a></li>
			<li><a ng-click="sortBy('newest')">Newest</a></li>
			<li><a ng-click="sortBy('default')">Relavent</a></li>
			
		</ul>
	</div>
</div>

<vimeo-channels></vimeo-channels>

<div class="clearfix"></div>

<div id="pager-wrapper">
	<vimeo-pager></vimeo-pager>
</div>