<h2 id="categories-breadcrumb"> 
	<a href="/mediacenterjs-vimeo/#/categories">Categories</a> > 
	<a href="/mediacenterjs-vimeo/#/categories/{{categoryName.word}}">{{categoryName.name}}</a> 
	<span ng-show="subcategoryName"> > </span>
	<a href="/mediacenterjs-vimeo/#/categories/{{subcategoryName.word}}">{{subcategoryName.name}}</a>
</h2>

<!-- Sub categories -->

<div>
	<div class="pull-left" style="width:85%">
		
		<vimeo-video></vimeo-video>

		<div class="clearfix"></div>

		<div id="pager-wrapper">
			<vimeo-pager></vimeo-pager>
		</div>
	</div>

	<div class="pull-left"  id="subcategory-list" style="width:14%">
		<h1>Subcategories</h1>
		<ul ng-repeat="category in subcategoryList.subcategories.subcategory" >
			<li ng-click="getVideos(category.id)">
				<a  class="mcjs-rc-controllable mcjs-rc-clickable" ng-click="getSubcategoryVideos(category)">{{category.name}}</a>
			</li>
		</ul>
	</div>
	
</div>