
<div class="info">{{videos.total}} results for {{query}}</div>

<div ng-repeat="video in videos.video">

	<p ng-click="play(video.id)">
		<span class="upload-date">{{video.upload_date}}</span>
		<img ng-src="{{video.thumbnails.thumbnail[2]._content}}" >
		
		<span class="title">{{video.title}}</span>
		
	</p>

</div>

<div class="clearfix"></div>

<div id="pager-wrapper">
	<ul class="pager">
	  <li class="previous" ><a ng-class="{disabled: pageNumber === 1}" ng-click="page(false)">&larr; Previous</a></li>
	  <li class="next"><a ng-class="{disabled: pageNumber === maxPageNumber()}" ng-click="page(true)">Next &rarr;</a></li>
	</ul>

</div>