doctype 5
html(lang="en")
	head
		// Core inclusion
		link(rel='stylesheet', href='/core/css/style.css')
		script(src="/core/js/jquery-1.8.2.min.js")
		script(src="/core/js/jquery.mcjs.core.js")
		
		// App specific
		link(rel='stylesheet', href='/mediacenterjs-vimeo/public/css/style.css')
		
		title Your Plugin Title
		
		script.
			$(function(){
				
				$('body').mcjs();
			
			});
	body
		#header
			a.backlink(href="/") 
				img(src="/core/icons/back.png")

			h1 Plugin Title

		#wrapper
			=data
			

