doctype 5
html(lang="en")
	head
		// Core inclusion
		link(rel='stylesheet', href='/core/css/style.css')
		script(src="/core/js/jquery-1.8.2.min.js")
		script(src="/core/js/jquery.mcjs.core.js")
		script(src="/core/js/plugins/knockout-2.3.0.js")
		
		// App specific
		link(rel='stylesheet', href='/mediacenterjs-vimeo/public/css/style.css')
		link(href="/mediacenterjs-vimeo/public/css/bootstrap.min.css" rel="stylesheet")
		
		title vimeo
		
		script.
			$(function(){
				
				$('body').mcjs();
				
			});
	body
		#header
			div.pull-left
				a.backlink(href="/") 
					img(src="/core/icons/back.png")

				h1 vimeo

			div.pull-right
				div.form-inline
					div.form-group
						input#search(style="width:200px" type="text" data-bind="value: search" placeholder="Search for videos")
					div.form-group
						button.btn.btn-default#go Search


		#wrapper
			=data
			

