
@font-face
{
	font-family: 'blackrose';
	src: url('blackrose.TTF') format('truetype');
}
	

body{}

#header{ height:75px; overflow:hidden; background:#fff; z-index: 999}

#header h1{ font-family:'blackrose'; font-size: 58px; margin: -5px 0 0 00px;text-transform: lowercase; font-weight: normal;}

#wrapper { background-color: #ddd; padding:0px;}

#wrapper h1{ color:#000; font-size:11px; margin:0; padding:0;}

#wrapper p{ 
 	float:left;
	border-radius: 5px;
	width: 360px;
	height: 300px;
	padding:20px;
	background-color:#fff;
	color:#444; 
	font-size:14px; 
	margin:0 0 20px 20px; 
	overflow: hidden;
}

#wrapper p:hover, #wrapper p:focus{
	background-color:lightblue;
	-moz-box-shadow: 0 1px 5px #a2a2a2;
	-webkit-box-shadow: 0 1px 5px #a2a2a2;
	box-shadow: 0 1px 5px #a2a2a2;
	cursor:pointer;
}



#wrapper img {
	margin: 10px auto;
	width:320px;
	height:180px;
	border-radius: 5px;
	margin-bottom:4px;
}

#wrapper a.disabled{
	opacity: .2;
	cursor:default;
}

#wrapper img{display:block;}

#player{
	position:fixed;
	bottom:-35px;
	left:0;
}


.title{
	size:18px;
	font-size: 18px;
	font-weight: bold;
}
.upload-date{
	float:left;
	margin-bottom: 10px;
	clear:both;
	width:100%;
	font-size:12px;
	color:#aaa;
	font-style: italic;
	text-align: right;
}

.totals{
	font-size:12px;
	color:#aaa;
	font-style: italic;
}

.description{
	text-overflow:ellipsis;

}

.info{
	height: 59px;
	line-height: 58px;
	font-style: italic;
	font-size:16px;
	margin:0px 20px;
	color:#333;
}

#pager-wrapper{
	margin:0px 50px;
}

#pager-wrapper a{ 
	color:#fff; 
	font-size:16px; 
	padding:0;
	background:#CB2029;
	padding:10px; 
	text-align:center;
	border-radius:5px;
	margin-top:10px;
	margin-left:-1px;
	display:inline-block;
	text-transform:uppercase;
}


#subcategory-list{
	width:100%;
	background-color: #eeefff;
	border-radius: 5px;
	padding:10px;
}

#subcategory-list h1{
	font-size: 16px;
	text-align: center;
	width:100%;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: #ddd 1px solid
}

#categories-breadcrumb{
	margin-left:20px;
	margin-bottom: 20px;
	font-size:20px;
}

#sort-by{
	height:59px;
	line-height: 58px;
	margin-right: 40px
}

#sort-by ul{
	font-size: 15px;
}

#sort-by li{
	float:right;
	padding:0 5px;
}

.page-number{
	height:60px;
	line-height: 59px;
	font-size:18px;
}